@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  @include flex-center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e66261;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

$circle-width: 100px;
$bs-color-1: rgba(0, 0, 0, 0.05);
$bs-color-2: rgba(0, 0, 0, 0.15);

@mixin calc-bs($f) {
  box-shadow: (9px * $f) (9px * $f) (10px * $f) (5px * $f) rgba(0, 0, 0, 0.2),
    (12px * $f) (12px * $f) (20px * $f) (10px * $f) rgba(0, 0, 0, 0.1);
}

.circle {
  @include flex-center;
  @include calc-bs(1);
  background: white;
  border-radius: 50%;
  width: $circle-width;
  height: $circle-width;
  position: absolute;
  transform: scale(0);
  animation: 5s ease-in-out infinite;

  &.big {
    animation-name: big-pulse;
  }

  &.medium {
    @include calc-bs(0.65);
    width: $circle-width * 0.65;
    height: $circle-width * 0.65;
    animation-name: medium-pulse;
  }

  &.small {
    @include calc-bs(0.3);
    width: $circle-width * 0.3;
    height: $circle-width * 0.3;
    animation-name: small-pulse;
  }
}

@keyframes big-pulse {
  0% {
    transform: scale(0);
  }
  35%,
  65% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes medium-pulse {
  0%,
  20% {
    transform: scale(0);
  }
  40%,
  60% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}

@keyframes small-pulse {
  0%,
  30% {
    transform: scale(0);
  }
  45%,
  55% {
    transform: scale(1);
  }
  70%,
  100% {
    transform: scale(0);
  }
}
