$primary: #1db954;
$dark: #616467;

%extend_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 1050px;
}

li {
  list-style-type: none;
}

button {
  border-radius: 25px;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.5s;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 2px;
}


.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

.nav-bar {
  z-index: 1;
  background: transparent;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 200px;
  transition: background 0.5s;
  .brand {
    cursor: pointer;
    padding: 8px 0;
  }
  ul {
    display: flex;
    li {
      margin: 0 15px;
      font-size: 0.9em;
      font-weight: bold;
      &.divider {
        height: 15px;
        border: 1px solid white;
      }
      &.profile {
        display: flex;
        .icon {
          margin: 0 8px;
        }
      }
    }
  }
}

.hero-wrap {
  background: url(https://i.postimg.cc/15D8xLCn/audience-band-concert-1105666.jpg)
    center center/cover no-repeat;
  height: 700px;
  display: flex;
  justify-content: center;
  .hero-text-container {
    @extend %extend_flex;
    flex-direction: column;
    width: 80%;
    color: white;
    text-align: center;
    h1 {
      font-size: 5em;
      margin: 20px;
    }
    h2 {
      font-size: 25px;
      font-weight: 900;
      letter-spacing: 1px;
    }
    button {
      background: $primary;
      color: white;
      margin: 20px;
      &:hover {
        background: #1ed760;
      }
    }
  }
}

.albums-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 30px 100px 30px;
  .row {
    text-align: center;
    padding: 50px;
    h1 {
      font-size: 2.8em;
      margin: 0;
    }
    p {
      font-size: 1.1em;
    }
    button {
      background: transparent;
      border: 3px solid $dark;
      color: $dark;
      font-size: 1.1em;
      &:hover {
        background: $dark;
        color: white;
      }
    }
  }
  .albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1350px;
    .album {
      width: 350px;
      height: 350px;
      margin: 15px;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
      }
      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        color: white;
        opacity: 1;
        display: none;
        transition: all 0.5s;
        &:hover {
          background: rgba(0, 0, 0, 0.6);
        }
        .content {
          width: 100%;
          height: 100%;
          @extend %extend_flex;
          flex-direction: column;
          h1 {
            margin: 5px;
          }
          p {
            color: lightgray;
            margin-top: 0;
          }
          a {
            color: $primary;
            font-size: 0.8em;
            letter-spacing: 1px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.footer-wrap {
  height: 500px;
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 120px;
  .footer-links {
    display: flex;
    margin: 0;
    & > li {
      margin: 0 40px;
      h5 {
        margin: 0;
        color: gray;
        font-weight: 800;
      }
      ul {
        color: white;
        padding: 0;
        display: flex;
        flex-direction: column;
        li {
          text-align: left;
          margin: 12px 0;
          cursor: pointer;
        }
      }
    }
  }
  .social {
    i {
      color: white;
      border-radius: 50%;
      padding: 15px;
      background: $dark;
      margin: 0 8px;
    }
  }
}

.link:hover {
  color: $primary;
  cursor: pointer;
}
