*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 500px;
  width: 500px;
  background: #3faf82;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.3);
}

$stripe-width: 75px;
$stripe-height: 8px;
$stripe-offset-y: 20px;
$menu-height: $stripe-offset-y * 2 + $stripe-height;
$cubic-bezier-in: cubic-bezier(0.4, 1, 0.6, 1);
$cubic-bezier-out: cubic-bezier(1, 0.6, 1, 0.4);

.menu {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $menu-height;
  width: $stripe-width;
  position: relative;
}

.stripe {
  width: $stripe-width;
  height: $stripe-height;
  background: white;
  border-radius: 3px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  position: absolute;
  display: block;

  &.stripe-1 {
    transform: translateY(-$stripe-offset-y);
    animation: stripe-1-reverse 0.7s $cubic-bezier-in;
    &.active {
      animation: stripe-1-forward 0.7s $cubic-bezier-in forwards;
    }
  }

  &.stripe-2 {
    transform: translateY(0);
    animation: stripe-2-reverse 0.7s $cubic-bezier-in;
    &.active {
      animation: stripe-2-forward 0.7s $cubic-bezier-in forwards;
    }
  }

  &.stripe-3 {
    transform: translateY($stripe-offset-y);
    animation: stripe-3-reverse 0.7s $cubic-bezier-in;
    &.active {
      animation: stripe-3-forward 0.7s $cubic-bezier-in forwards;
    }
  }
}

// forward animation
@keyframes stripe-1-forward {
  0% {
    transform: translateY(-$stripe-offset-y);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(135deg);
  }
}

@keyframes stripe-2-forward {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes stripe-3-forward {
  0% {
    transform: translateY($stripe-offset-y);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

// reverse animation
@keyframes stripe-1-reverse {
  0% {
    transform: rotate(135deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY(-$stripe-offset-y);
  }
}

@keyframes stripe-2-reverse {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes stripe-3-reverse {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: translateY($stripe-offset-y);
  }
}
