@import './variables.scss';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 1050px;
  position: relative;
  background: url(./images/US-en-20190128-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin-top: 100px;
  width: 425px;
  height: 650px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.84);
  border-radius: $border_radius;
  .signin-form {
    margin-top: 30px;
    width: 70%;
    position: relative;
    height: 100%;
    .title {
      color: white;
    }
    .signin-btn {
      margin-top: 30px;
      width: 100%;
      padding: 13px 0;
      border-radius: $border_radius;
      border: none;
      background: $primary;
      color: white;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;
    }
    .action-group {
      margin-top: 8px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: $font_color;
      font-size: 13px;
      input {
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        padding: 10px;
        background: blue;
      }
    }
    .onboarding {
      bottom: 0;
      margin-bottom: 50px;
      position: absolute;
      color: $font_color;
      p {
        margin: 10px 0 0 0;
      }
    }
  }
}

.field {
  position: relative;
  input {
    background: #333333;
    color: white;
    font-size: 14px;
    width: 100%;
    height: 45px;
    margin: 5px 0;
    border: none;
    border-radius: $border_radius;
    padding: 15px 0 0 20px;
    outline: none;
    &:focus ~ .floating-label {
      @extend %extend_1;
    }
    &:not(:focus):valid ~ .floating-label {
      @extend %extend_1;
    }
    &.invalid {
      border-bottom: 2px solid orangered;
    }
  }

  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
    color: $font_color;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 220px;
  width: 100%;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.84);
}
