*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 500px;
  width: 500px;
  background: linear-gradient(60deg, #ffffcc, #e9bbbb);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book {
  height: 300px;
  width: 200px;
  color: white;
  background: linear-gradient(
    45deg,
    #333 0%,
    #3d3d3d 50%,
    #4f4f4f 75%,
    #5b5b5b 90%,
    #6d6d6d 100%
  );
  border-radius: 2px 4px 4px 2px;
  position: relative;
  box-shadow: -2px 3px 5px gray;

  &:before {
    content: '';
    width: 15px;
    height: 100%;
    position: absolute;
    left: 2px;
    border-radius: 2px 0 0 2px;
    box-shadow: -10px 0 10px -10px inset #333;
    background: linear-gradient(
      to right,
      #494949 0%,
      #494949 45%,
      #3a3a3a 46%,
      #3a3a3a 100%
    );
    filter: blur(0.7px);
  }

  &:after {
    content: '';
    width: 10px;
    height: 302px;
    background: #9d0229;
    background: linear-gradient(
      to left,
      #9d0229 1%,
      #9d0229 10%,
      #72021e 11%,
      #72021e 20%,
      #9d0229 21%,
      #9d0229 30%,
      #72021e 31%,
      #72021e 40%,
      #9d0229 41%,
      #9d0229 50%,
      #9d0229 51%,
      #9d0229 60%,
      #72021e 61%,
      #72021e 70%,
      #9d0229 71%,
      #9d0229 80%,
      #72021e 81%,
      #72021e 90%,
      #9d0229 91%,
      #9d0229 100%
    );
    position: absolute;
    top: -1px;
    right: 25px;
  }

  .title {
    text-transform: uppercase;
    margin: 57px 0 0 35px;
  }

  .author {
    font-style: italic;
    margin-left: 35px;
  }
}
